body {
    font-family: 'Open Sans', sans-serif;
    background-color: #535353;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 400px; /* Increase the width to 400px */
    height: 400px; /* Increase the height to 400px */
    padding: 30px;
  }
  
  .login-container h1 {
    margin-bottom: 80px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-size: 16px;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  .name-input{
    font-size:24px;
    font-weight:700;
    color:#7e7e7e;
    flex-grow:1;
    border:none;
    margin:0px 12px;
    outline:none;
    background-color:#ebebeb;
}